.demo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80vh;
  gap: 35px;
}

.demo-title {
  font-size: 34px;
  color: white !important;
}

.demo-description {
  align-self: center;
  font-family: "Light";
  font-size: 17px;
  max-width: 850px;
  color: white !important;
}

.demo-videos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}
